
.register {
  .form-control {
    padding-left: 40px;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
    .col-xs-12 {
      padding: 0;
      margin-bottom: 20px;
    }
  }

  .form-control + .glyphicon {
    position: absolute;
    left: 0;
    padding: 10px 12px;
  }

  .modal-footer {
    border-top: 0
    input {
      width: 100%;
    }
  }
}
