.search {
  .hlt1 {
    font-weight: 800;
  }
  p {
    font-size: 12px;
    line-height: 1;
    opacity: 0.5
  }
  .description {
    font-size: 14px;
    opacity: 1
  }
  .isActive {
    border-color: #1abc9c;
    .search {
      color: #1abc9c;
      transition: all 0.2s ease-in-out
    }
  }
}
