.search {
  .hlt1 {
    font-weight: 800;
  }
  p {
    font-size: 12px;
    line-height: 1;
    opacity: 0.5
  }
  .categories {
    border-right: 1px solid #DADEE2;
    h5 {
      font-size: 20px;
    }
  }
  .fa-chevron-down {
    &:hover {
      cursor: pointer;
    }
  }
  .fa-chevron-right {
    &:hover {
      cursor: pointer;
    }
  }
  .description {
    font-size: 14px;
    opacity: 1
  }
  .isActive {
    border-color: #1abc9c;
    .search {
      color: #1abc9c;
      transition: all 0.2s ease-in-out
    }
  }
  .pagination {
    border-bottom: 2px solid #DADEE2;
  }
  .products {
    padding-left: 10px;
    .item {
      padding-left: 10px;
      label {
        font-size: 12px;
      }
    }
  }
  .star {
    cursor: default;
    opacity: 0.7;
    &:hover {
      color: #16a085;
    }
  }
  .search_result {
    .item {
      padding-top: 5px;
      border-bottom: 1px solid #DADEE2;
    }
  }
  .services {
    padding-left: 10px;
    .item {
      padding-left: 10px;
      label {
        font-size: 12px;
      }
    }
  }
  .top-horizontal {
    margin-bottom: 5px;
    margin-top: 5px;
    border-top: 1px solid #DADEE2;
  }
}
