<section ng-include="'commons/header.html'"></section>

<div class="containter main">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <img src="/img/GovFish.png"/>
    <p>Helping You Catch Government Business Opportunities</p>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="input-group input-group-hg input-group-rounded">
      <input type="text" class="form-control" placeholder="Opportunity Keywords Here" id="search-query-2" is-active>
      <span class="input-group-btn">
        <button type="submit" class="btn is-active"><span class="fui-search"></span></button>
      </span>
    </div>
    <p class="text-center">Currently sourcing opportunities from FedBizOpps(<a href="">fbo.gov</a>)</p>
  </div>
</div>
