<section ng-include="'commons/header.html'"></section>

<div class="containter main">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <img src="/img/GovFish.png"/>
    <p>Helping You Catch Government Business Opportunities</p>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="input-group input-group-hg input-group-rounded" ng-controller="Main as vm">
      <input type="text" class="form-control" placeholder="Opportunity Keywords Here" ng-model="vm.keyword" is-active is-entered="search">
      <span class="input-group-btn">
        <button class="btn is-active" ng-click="vm.search()"><span class="fui-search"></span></button>
      </span>
    </div>
    <p class="text-center">Currently sourcing opportunities from FedBizOpps(<a href="https://www.fbo.gov" target="_blank">fbo.gov</a>)</p>
  </div>
</div>
