<section ng-include="'commons/header.html'"></section>

<div class="containter search">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="input-group input-group-hg input-group-rounded">
      <input type="text" class="form-control" placeholder="Opportunity Keywords Here" ng-model="vm.keyword" is-active is-entered="search">
      <span class="input-group-btn">
        <button class="btn is-active" ng-click="vm.change_keyword(1)"><span class="fui-search"></span></button>
      </span>
    </div>
  </div>
  <div class="col-lg-12 container" style="margin-top:40px">
    <div ng-show="pageTotal === 0" class="text-center">No Search Result for <strong><em>{{tempKeyword}}</em></strong></div>
    <div ng-show="pageTotal !== 0" class="pull-left">
      <span ng-bind="showStart"></span>
      <span ng-bind="dash"></span>
      <span ng-bind="showEnd"></span>
      <span ng-bind="of"></span>
      <span ng-bind="pageTotal"></span>
      <!-- {{showStart}} {{dash}} {{showEnd}} {{of}} {{pageTotal}} -->
    </div>
    <ul class="pagination-plain pull-right" ng-show="pageTotal !== 0">
      <li class="previous" ng-show="previous_hide">
        <a href="" ng-click="vm.change_page(p - 1)">Previous</a>
      </li>
      <li ng-repeat="n in paginateResult" ng-class="{active: {{n}} == p}">
        <a href="#" ng-click="vm.change_page(n)">{{n}}</a>
      </li>
      <li class="next"  ng-show="next_hide">
        <a href="" ng-click="vm.change_page(p + 1, vm.pageTotal)">Next</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-12 container">
    <div>
      <div ng-repeat="result in search_result track by $index">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
              <h5 style="font-size: 20px">
                <a href="/item/{{result._id}}?keyword={{vm.keyword}}" ng-click="vm.clicked_items(result._id)">{{result._source.title}}</a>
              </h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 text-center">
              <a href="">
                <i saved-star="{{result}}" class="fa fa-star-o fa-2x" ng-show="vm.isAuthenticated"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-3">
              <p class="same">Solicitation Number: {{result._source.solnbr}}</p>
            </div>
            <div class="col-lg-4 col-sm-3">
              <p>Due Date: {{result._source.close_date | date}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-3">
              <p>Agency: {{result._source.agency}}</p>
            </div>
            <div class="col-lg-4 col-sm-3">
              <p>Posted Date: {{result._source.posted_date | date}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>Office: {{result._source.office}}</p>
            </div>
          </div>
          <p class="description" ng-bind-html="result.highlight.description[0]"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 container">
    <div ng-show="pageTotal !== 0" class="pull-left">
      <span ng-bind="showStart"></span>
      <span ng-bind="dash"></span>
      <span ng-bind="showEnd"></span>
      <span ng-bind="of"></span>
      <span ng-bind="pageTotal"></span>
    </div>
    <ul class="pagination-plain pull-right" ng-show="pageTotal !== 0">
      <li class="previous" ng-show="previous_hide">
        <a href="" ng-click="vm.change_page(p - 1)">Previous</a>
      </li>
      <li ng-repeat="n in paginateResult" ng-class="{active: {{n}} == p}">
        <a href="#" ng-click="vm.change_page(n)">{{n}}</a>
      </li>
      <li class="next" ng-show="next_hide">
        <a href="" ng-click="vm.change_page(p + 1, paginateResult.length)">Next</a>
      </li>
    </ul>
  </div>
</div>
