<section ng-include="'commons/header.html'"></section>

<div class="containter search">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="input-group input-group-hg input-group-rounded">
      <input type="text" class="form-control" placeholder="Opportunity Keywords Here" ng-model="vm.keyword" is-active is-entered="search">
      <span class="input-group-btn">
        <button class="btn is-active" ng-click="vm.change_keyword(1)"><span class="fui-search"></span></button>
      </span>
    </div>
  </div>
  <div class="col-lg-12 container" style="margin-top:40px">
    <div ng-hide="pageTotal !== 0" class="text-center" ng-cloak>
      {{noResultText}}<strong><em>{{tempKeyword}}</em></strong>
    </div>
    <div ng-show="pageTotal !== 0" class="pull-left">
      <span ng-bind="showStart"></span>
      <span ng-bind="dash"></span>
      <span ng-bind="showEnd"></span>
      <span ng-bind="of"></span>
      <span ng-bind="pageTotal"></span>
      <!-- {{showStart}} {{dash}} {{showEnd}} {{of}} {{pageTotal}} -->
    </div>
    <ul class="pagination-plain pull-right" ng-show="pageTotal !== 0">
      <li class="previous" ng-show="previous_hide">
        <a href="" ng-click="vm.change_page(p - 1)">Previous</a>
      </li>
      <li ng-repeat="n in paginateResult" ng-class="{active: {{n}} == p}">
        <a href="#" ng-click="vm.change_page(n)">{{n}}</a>
      </li>
      <li class="next"  ng-show="next_hide">
        <a href="" ng-click="vm.change_page(p + 1, vm.pageTotal)">Next</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-12 container-fluid">
    <hr class="top-horizontal">
    <div class="col-lg-3 col-md-3 categories">
      <div class="options">
        <h5>Show results for</h5>
        <label class="checkbox">
          <input check-box-option-is-award type="checkbox" value="Show award" id="is_award" data-check=false>
          Show award
        </label>
        <label class="checkbox">
          <input check-box-option-is-sole-source type="checkbox" value="Show sole source" id="is_sole_source" data-check=false>
          Show sole source
        </label>
      </div>
      <div class="refine">
        <h5>Refine results by</h5>
        <div class="services" ng-show="services_filter.length !==0" ng-cloak>
          <a href="" filter-services="all_services">Services</a>
          <!-- <i ng-show="services" class="fa fa-chevron-down" filter-services="services"></i> -->
          <!-- <i ng-show="!services" class="fa fa-chevron-right" filter-services="services"></i> -->
          <div class="item" ng-repeat="item in services_filter track by $index" ng-show="services">
            <label class="checkbox">
              <input check-box="services" type="checkbox" value="{{item.classification_text}}" id="{{item.classifiation_code}}" data-code={{item.classification_code}} data-check=false ng-checked="check_services">
              {{item.classification_text}} <span style="color: #16a085">({{item.count}})</span>
            </label>
          </div>
        </div>

        <div class="products" ng-show="products_filter.length !==0" ng-cloak>
          <a href="" filter-services="all_products">Products</a>
          <!-- <i ng-show="products" class="fa fa-chevron-down" filter-services="products"></i> -->
          <!-- <i ng-show="!products" class="fa fa-chevron-right" filter-services="products"></i> -->
          <div class="item" ng-repeat="item in products_filter track by $index" ng-show="products">
            <label class="checkbox">
              <input check-box="products" type="checkbox" data-toggle="checkbox" value="{{item.classification_text}}" id="{{item.classification_text}}" data-code={{item.classification_code}} data-check=false ng-checked="check_products">
              {{item.classification_text}} <span style="color: #16a085">({{item.count}})</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 search_result">
      <div ng-repeat="result in search_result track by $index">
        <div class="col-lg-12 item">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
              <h5 style="font-size: 20px">
                <a href="/item/{{result._id}}?keyword={{vm.keyword}}" target="_self" ng-click="vm.clicked_items(result._id)">{{result._source.title}}</a>
              </h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 text-center">
              <a href="" class="star">
                <i saved-star="{{result}}" class="fa fa-star-o fa-2x"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-3">
              <p class="same">Solicitation Number: {{result._source.solnbr}}</p>
            </div>
            <div class="col-lg-4 col-sm-3">
              <p>Due Date: {{result._source.close_date | date}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-3">
              <p>Agency: {{result._source.agency}}</p>
            </div>
            <div class="col-lg-4 col-sm-3">
              <p>Posted Date: {{result._source.posted_date | date}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>Office: {{result._source.office}}</p>
            </div>
          </div>
          <p class="description" ng-bind-html="result.highlight.description[0]"></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-12 container">
    <hr class="top-horizontal">
    <div ng-show="pageTotal !== 0" class="pull-left">
      <span ng-bind="showStart"></span>
      <span ng-bind="dash"></span>
      <span ng-bind="showEnd"></span>
      <span ng-bind="of"></span>
      <span ng-bind="pageTotal"></span>
    </div>
    <ul class="pagination-plain pull-right" ng-show="pageTotal !== 0">
      <li class="previous" ng-show="previous_hide">
        <a href="" ng-click="vm.change_page(p - 1)">Previous</a>
      </li>
      <li ng-repeat="n in paginateResult" ng-class="{active: {{n}} == p}">
        <a href="#" ng-click="vm.change_page(n)">{{n}}</a>
      </li>
      <li class="next" ng-show="next_hide">
        <a href="" ng-click="vm.change_page(p + 1, paginateResult.length)">Next</a>
      </li>
    </ul>
  </div>
</div>
