
  <nav class="navbar navbar-default navbar-lg" role="navigation" ng-cloak>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref='main' ui-sref-active="active" target="_self">
          <img style="max-width:200px; margin-top: -7px;"
          src="/img/GovFishHeader.png">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <a class="btn btn-social-icon btn-linkedin" tooltip-linked-in>
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li ui-sref-active="active" class="text-center">
            <a ui-sref="about">
              About GovFish
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
