
<div class="off-canvas-wrap docs-wrap" data-offcanvas="" style='position:fixed'>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" aria-expanded="false"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">Paragala</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Paragala</label></li>
        <li><a href="#/database">Database</a></li>
        <li><a href="#/paragala">Paragala</a></li>
        <li><a href="#/paragala/add-student">Add Student</a></li>
        <li><a href="#/paragala/paragala-results">Results</a></li>
      </ul>
    </aside>

    {% block section %}{% endblock %}

  <a class="exit-off-canvas"></a>

  </div>
</div>
