<div id="sidebar-wrapper">
  <span id="sidebarOnandOff">
    <a href="">
      <i class="fa fa-certificate faa-spin animated"></i>
    </a>
  </span>
  <ul class="sidebar-nav">
    <li>
      <a href="#/dashboard" class="faa-parent animated-hover">
        <i class="fa fa-tachometer"></i>
        <span class="icon-hide">
          Dashboard
        </span>
      </a>
    </li>
    <li>
      <a ui-sref='database'>
        <i class="fa fa-database"></i>
        <span class="icon-hide">
          Database
        </span>
      </a>
    </li>
    <li>
      <a ui-sref='paragala'>
        <i class="fa fa-trophy"></i>
        <span class="icon-hide"> Paragala </span>
      </a>
    </li>
    <li>
      <a ui-sref='paragala_add-student'>
        <i class="fa fa-male"></i>
        <span class="icon-hide"> Add Student </span>
      </a>
    </li>
    <li>
      <a ui-sref='paragala_paragala-results'>
        <i class="fa fa-file-text-o"></i>
        <span class="icon-hide"> Results </span>
      </a>
    </li>
    <li>
      <a ui-sref='rave'>
        <i class="fa fa-video-camera"></i>
        <span class="icon-hide"> Rave </span>
      </a>
    </li>
  </ul>
</div>
