<div class='modal' tabindex='-1' role='dialog' ng-controller='Login'>
  <form ng-submit='vm.signup( vm.email, vm.username, vm.password, vm.confirmPassword )' class='modal-dialog' name='signupForm' novalidate='novalidate'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' ng-click='$hide()'>&times;</button>
        <h4 class='modal-title'>Create a Free Account</h4>
      </div>
      <div class='modal-body'>
        <div class='form-group' ng-class='showError(signupForm.email)'>
          <label class='control-label'>Email</label>
          <input type='email' name='email' ng-model='vm.email' class='form-control' required>
          <div class='help-block' ng-show='signupForm.email.$dirty && signupForm.email.$error.required'>
            An email address is required
          </div>
          <div class='help-block' ng-show='signupForm.email.$error.email'>
            Please enter an email address
          </div>
          <div class='help-block' ng-show='signupForm.email.$error.taken'>
            That email has been taken, try another one?
          </div>
        </div>
        <div class='form-group' ng-class='showError(signupForm.username)'>
          <label class='control-label'>Username</label>
          <input type='text' name='username' ng-model='vm.username' class='form-control' required>
          <div class='help-block' ng-show='signupForm.username.$dirty && signupForm.username.$error.required'>
            A username is required
          </div>
          <div class='help-block' ng-show='signupForm.username.$error.taken'>
            That username has been taken, try another one
          </div>
        </div>
        <div class='form-group' ng-class='showError(signupForm.password)'>
          <label class='control-label'>Password</label>
          <input type='password' name='password' ng-model='vm.password' class='form-control' required ng-minlength='6'>
          <div class='help-block' ng-show='signupForm.$error.minlength'>
            Your password must be at least 6 characters
          </div>
        </div>
        <div class='form-group' ng-class='showError(signupForm.confirmPassword)'>
          <label class='control-label'>Confirm Password</label>
          <input type='password' name='confirmPassword' ng-model='vm.confirmPassword' class='form-control' required>
          <div class='help-block' ng-show='signupForm.$error.match'>
            The passwords must match
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <input type='submit' class='btn btn-primary' value='Sign Up'>
      </div>
    </div>
  </form>
</div>
