<section ng-include="'commons/header.html'"></section>

<div class="container about">
  <div class="col-lg-8 col-lg-offset-2">
    <p class="text-center">
      Our mission is to collect, organize, and display business opportunities posted by the US
      government and better connect businesses to those opportunities.
    <p class="text-justify">
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <h5 class="text-center">How?</h5>
    <ol>
      <li>Collect, organize and display all government business opportunities in one location</li>
      <li>Give this capability to users and business for free</li>
    </ol>
  </div>
</div>
