.header {
  .ion-ios-home {
    font-size: 24px;
  }
  ul:nth-child(2) {
    .register {
      font-size: 2em;
    }
    .loginDropDown {
      font-size: 2em;
    }
    .logout {
      font-size: 2em;
    }
  }
  ul:first-child {
    height: 58px;
    li {
      height: 58px;
      a {
        height: 58px;
        padding-top: 18px;
      }
    }
  }
}
.navbar {
  border-radius: 0;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
    > li:first-child a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0;
  }
}
