.header {
}
.navbar {
  border-radius: 0;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
    > li:first-child a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0;
  }
}
