.about {
  .panel {
    padding: 15px;
    background-color: #e5e9ea;
    border: 1px solid #ccc;
  }
  .panel-mid {
    padding: 15px;
    border: 1px solid #ccc;
  }
  button {
    margin-top: 15px
  }
  .margin-bottom-off {
    margin-bottom: 0;
  }
  .stop-doing {
    color: #c0392b;
  }
  .stop-doing-sub {
    color: #e74c3c;
  }
  .keep-doing {
    color: #7f8c8d;
  }
  .keep-doing-sub {
    color: #95a5a6;
  }
  .start-doing {
    color: #2c3e50;
  }
  .start-doing-sub {
    color: #34495e;
    white-space: nowrap;
  }
  .header {
    margin-bottom: 30px;
  }
}
