<!doctype html>
<html data-ng-app='ngAPI'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible', content='IE=edge' />
    <base href="/" />
    <title> J.Ca </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <style>
        .ng-hide {
          display: none!important;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <!-- bower:css -->
    <link rel="stylesheet" href="/bowerComponents/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bowerComponents/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="/bowerComponents/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="/bowerComponents/toastr/toastr.css" />
    <link rel="stylesheet" href="/bowerComponents/ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="/bowerComponents/videojs/dist/video-js/video-js.css" />
    <link rel="stylesheet" href="/bowerComponents/flat-ui/dist/css/flat-ui.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/compiledCss/stylus/app.css">
    <!-- endinject -->
  </head>
  <body>

    <!-- <div ui-view=''></div> -->
    {% include 'commons/header.html' %}
    <section id="content" class="ui-view-container" >
      <div data-ng-controller="Shell as vm" ng-cloak>
        <div ui-view></div>
      </div>
    </section>

    <!-- bower:js -->
    <script src="/bowerComponents/jquery/dist/jquery.js"></script>
    <script src="/bowerComponents/angular/angular.js"></script>
    <script src="/bowerComponents/angular-animate/angular-animate.js"></script>
    <script src="/bowerComponents/angular-strap/dist/angular-strap.js"></script>
    <script src="/bowerComponents/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="/bowerComponents/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/bowerComponents/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bowerComponents/lodash/dist/lodash.compat.js"></script>
    <script src="/bowerComponents/restangular/dist/restangular.js"></script>
    <script src="/bowerComponents/satellizer/satellizer.js"></script>
    <script src="/bowerComponents/toastr/toastr.js"></script>
    <script src="/bowerComponents/videojs/dist/video-js/video.js"></script>
    <script src="/bowerComponents/flat-ui/dist/js/flat-ui.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="/js/commons/commons.module.js"></script>
    <script src="/js/core/core.module.js"></script>
    <script src="/js/exception/exception.module.js"></script>
    <script src="/js/layout/layout.module.js"></script>
    <script src="/js/logger/logger.module.js"></script>
    <script src="/js/registerNsignIn/registerNsignIn.module.js"></script>
    <script src="/js/router/router.module.js"></script>
    <script src="/js/services/services.module.js"></script>
    <script src="/js/strapModuleBW/strap.module.js"></script>
    <script src="/js/widgets/widgets.module.js"></script>
    <script src="/js/routes/client/main/main.module.js"></script>
    <script src="/js/routes/client/sample/sample.module.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/commons/commons.js"></script>
    <script src="/js/commons/dataservice.js"></script>
    <script src="/js/commons/viewContentLoaded.js"></script>
    <script src="/js/core/config.js"></script>
    <script src="/js/core/constants.js"></script>
    <script src="/js/custom/layout.js"></script>
    <script src="/js/exception/exception-handler.provider.js"></script>
    <script src="/js/exception/exception.js"></script>
    <script src="/js/layout/shell.js"></script>
    <script src="/js/logger/logger.js"></script>
    <script src="/js/registerNsignIn/registerNsignIn.js"></script>
    <script src="/js/router/routerhelper.js"></script>
    <script src="/js/services/authInterceptor.js"></script>
    <script src="/js/services/authToken.js"></script>
    <script src="/js/services/restangular.js"></script>
    <script src="/js/strapModuleBW/strap.js"></script>
    <script src="/js/widgets/switches.js"></script>
    <script src="/js/services/strapModuleBW/alert.js"></script>
    <script src="/js/services/strapModuleBW/modal.js"></script>
    <script src="/js/routes/client/main/config.route.js"></script>
    <script src="/js/routes/client/main/main.js"></script>
    <script src="/js/routes/client/sample/config.route.js"></script>
    <script src="/js/routes/client/sample/sample.js"></script>
    <!-- endinject -->
  </body>
</html>
