  <!doctype html>
<html data-ng-app='ngAPI'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible', content='IE=edge' />
    <base href="/" />
    <title> J.Ca </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <style>
        .ng-hide {
          display: none!important;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    {# bowerComponents #}
    <link rel="stylesheet" href="/bowerComponents/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bowerComponents/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="/bowerComponents/angular-loading-bar/src/loading-bar.css"/>
    <link rel="stylesheet" href="/bowerComponents/ionicons/css/ionicons.css"/>
    {# END bowerComponents #}

    {# LINKS #}
    <link rel="stylesheet" href="/compiledCss/stylus/app.css"/>
    {# LINKS END #}
  </head>
  <body>

    <!-- <div ui-view=''></div> -->

    {% include 'commons/header.html' %}

    <section id="content" class="ui-view-container" >
      <div data-ng-controller="Shell as vm" ng-cloak>
        <div ui-view></div>
      </div>
    </section>


    <script type="text/javascript" src="/bowerComponents/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bowerComponents/angular/angular.js"></script>
    <script type="text/javascript" src="/bowerComponents/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/bowerComponents/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bowerComponents/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/bowerComponents/lodash/dist/lodash.compat.js"></script>
    <script type="text/javascript" src="/bowerComponents/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="/bowerComponents/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/bowerComponents/angular-strap/dist/angular-strap.js"></script>
    <script type="text/javascript" src="/bowerComponents/angular-strap/dist/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="/bowerComponents/satellizer/satellizer.js"></script>
    <script type="text/javascript" src="/bowerComponents/angular-loading-bar/src/loading-bar.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/routes/client/main/main.module.js"></script>
    <script type="text/javascript" src="/js/routes/client/main/main.js"></script>
    <script type="text/javascript" src="/js/routes/client/main/config.route.js"></script>

    <script type="text/javascript" src="/js/routes/client/sample/sample.module.js"></script>
    <script type="text/javascript" src="/js/routes/client/sample/sample.js"></script>
    <script type="text/javascript" src="/js/routes/client/sample/config.route.js"></script>

    <script type="text/javascript" src="/js/exception/exception.module.js"></script>
    <script type="text/javascript" src="/js/exception/exception.js"></script>
    <script type="text/javascript" src="/js/exception/exception-handler.provider.js"></script>

    <script type="text/javascript" src="/js/logger/logger.module.js"></script>
    <script type="text/javascript" src="/js/logger/logger.js"></script>

    <script type="text/javascript" src="/js/router/router.module.js"></script>
    <script type="text/javascript" src="/js/router/routerhelper.js"></script>

    <script type="text/javascript" src="/js/registerNsignIn/registerNsignIn.module.js"></script>
    <script type="text/javascript" src="/js/registerNsignIn/registerNsignIn.js"></script>

    <script type="text/javascript" src="/js/strapModuleBW/strap.module.js"></script>
    <script type="text/javascript" src="/js/strapModuleBW/strap.js"></script>

    <script type="text/javascript" src="/js/commons/commons.module.js"></script>
    <script type="text/javascript" src="/js/commons/commons.js"></script>
    <script type="text/javascript" src="/js/commons/dataservice.js"></script>
    <script type="text/javascript" src="/js/commons/viewContentLoaded.js"></script>

    <script type="text/javascript" src="/js/core/core.module.js"></script>
    <script type="text/javascript" src="/js/core/constants.js"></script>
    <script type="text/javascript" src="/js/core/config.js"></script>

    <script type="text/javascript" src="/js/layout/layout.module.js"></script>
    <script type="text/javascript" src="/js/layout/shell.js"></script>

    <script type="text/javascript" src="/js/services/services.module.js"></script>
    <script type="text/javascript" src="/js/services/restangular.js"></script>
    <script type="text/javascript" src="/js/services/authToken.js"></script>
    <script type="text/javascript" src="/js/services/authInterceptor.js"></script>
    <script type="text/javascript" src="/js/services/strapModuleBW/modal.js"></script>
    <script type="text/javascript" src="/js/services/strapModuleBW/alert.js"></script>

  </body>
</html>
