.item_search {
  .hlt1 {
    font-weight: 800;
  }
  .title {
    font-size: 20px
    color: #16a085
  }
  p {
    font-size: 12px;
    line-height: 1;
    opacity: 0.5
  }
  .description {
    font-size: 14px;
    line-height: 1.5;
    opacity: 1;
  }
  .default {
    font-weight: normal;
    opacity: 1;
  }
  .attachments {
    margin-top: 10px;
    margin-bottom: 20px;
    .attachment_child {
      margin-bottom: 5px;
      .attach {
        font-size: 14px;
      }
    }
  }
  .same {
    font-weight:600;
    opacity:0.7;
  }
  .set_aside {
    padding: 0;
  }
  .bottom {
    margin-bottom: 30px;
  }
  .note {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 600;
    font-style: oblique;
    color: #111;
    opacity: 1;
  }
  .right-panel {
    padding-top: 20px;
  }
}
